canvas, img {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    border: 5px solid #ddd;
}
canvas#myCanvas { width: 800px; height: 800px; } /* 40 * 50 = 2000 */
canvas#colorpicker { width: 160px; height: 160px; } /* 40 * 4 = 160 */

/* body { width: 2600px; } */

.pixelboard{
    width: fit-content;
    display: inline-block;
}
.pixelboard canvas{
   width: 100%;
}
.colorpicker {
    width: fit-content;
    display: inline-block;
    vertical-align: top;
}
.clearfix{
    clear: both;
}
