<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="static/index.dev.css">
		<style>
			canvas#myCanvas {width: {{ size.width }}px; height: {{ size.height }}px;}
		</style>
	</head>
	<body>
		<div class="pixelboard">
			<canvas id="myCanvas" width="50" height="50" >
			Your browser does not support the HTML5 canvas tag.
			</canvas>
		</div>
		<div class="control-container">
			<div class="colorpicker-container">
				<div class="colorpicker">
					<canvas id="colorpicker" height="100" width="100">
					Your browser does not support the HTML5 canvas tag.
					</canvas>
				</div>
				<div class="color-display">
					<canvas id="leftcolor" height="1" width="1">
					Your browser does not support the HTML5 canvas tag.
					</canvas>
					<br>Left
				</div>
				<div class="color-display">
					<canvas id="rightcolor" height="1" width="1">
					Your browser does not support the HTML5 canvas tag.
					</canvas>
					<br>Right
				</div>
			</div>
			<br>
			<div class="board-controls">
				<form action="/dev">
					<label for="board">Board name:</label><br>
					<input type="text" id="board" name="board" value="{{ board }}"><br>
					Height: 
					<input type="number" id="height" name="height" value="{{ height }}"><br>
					Width :
					<input type="number" id="width" name="width" value="{{ width }}"><br>
					Zoom  :
					<input type="number" id="zoom" name="zoom" value="{{ scale }}"><br>
					<input type="submit" value="Go!">
				</form> 
			</div>
		</div>
		<div class="clearfix"></div>
		<script>
			var board = "{{ board }}";
			var scale = {{ scale }};
			var height = {{ height }};
			var width = {{ width }};
		</script>
		<script type="text/javascript" src="static/index.dev.pixelboard.js"></script>
		<script type="text/javascript" src="static/index.dev.colorpicker.js"></script>
		<button disabled class="js-push-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
			Enable Live Updates
		</button>
		<script src="{{ url_for('static',filename='main.js') }}"></script>
	</body>
</html>
